<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sucess</title>
</head>
<body>
    <!-- {{nm}} your registration done successfully -->
    <a href="{% url 'std' 1 %}">student1</a>
    <a href="{% url 'std' 2 %}">student2</a>
    <a href="{% url 'std' 3 %}">student3</a>

    <a href="{% url 'substd' 1 8 %}">sub student1</a>
    <a href="{% url 'substd' 2 9 %}">sub student2</a>
    <a href="{% url 'substd' 3 10 %}">sub student3</a>
  
</body>
</html>


